.classDetailContainer {
    padding: 2rem;
    /* background-image: linear-gradient(to top right, #c3c3c3, #fbfcff); */
    /* background-color: #fbfcff; */
    background-color: #3b3b3b;
    color: #f3f3f3;
}

.classData {
    max-width: 800px;
    font-size: 14px;
    img {
        flex-basis: 40%;
        max-width: 240px;
        min-width: 150px;
        max-height: 200px;
        object-fit: cover;
        object-position: top;
    }
}

.imageDescriptionContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 1rem;

}

.header {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid grey;
}

.description {
    font-size: 14px;
    flex-grow: 1;
    flex-basis: 55%;
}

.sectionHeader {
    margin: 1rem 0 0.8rem 0;
    font-weight: bold;
    font-size: 1rem;
    border-top: 1px solid grey;
    padding-top: 1rem;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.inlineList {
    display: flex;
    flex-wrap: wrap;
}

.level {
    color: lightgray;
    text-wrap: nowrap;
}

.proficiencyName, .skillName {
    margin-right: 0.5rem;
}

.bold {
    font-weight: bold;
}

/* .skillSection {
    margin: 0.5rem 0;
} */