.classes {
    padding: var(--spacing-m);
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;

    .gridContainer {
        flex-grow: 1;
    }
}

.nameCell {
    height: 100%;
    line-height: 10px;
    display: flex;
    gap: var(--spacing-sm);
    flex-direction: column;
    justify-content: center;
    width: 100%;
    cursor: pointer;

    .description {
        font-weight: normal;
        font-size: var(--font-size-s);
        color: var(--text-secondary-light);
        overflow: hidden;
        white-space: break-spaces;
        line-height: 1.3;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;

    }
}
