body {
  margin: 0;
  /* font-family:  Garamond, Arial, Helvetica, sans-serif; */
  font-family:  Verdana, Arial, Helvetica, sans-serif;
  -webkit-font-smoothing:Baskerville, antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
