body {
  margin: 0;
  font-family:  Verdana, Arial, Helvetica, sans-serif;
  -webkit-font-smoothing:Baskerville, antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, 
body {
  width: 100%;
    height: 100%;

    #root {
      width: 100%;
      height: 100%;
    }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
