.container {
    display: flex;
    flex-direction: column;
    padding: var(--spacing-m) 0 0 0 ;
    height: 100%;
    box-sizing: border-box;

    .filterButton  {
        width: fit-content;
    }

    header, .filterButton {
        margin-left: var(--spacing-m)
    }
}

.gridUtils {
    padding: var(--spacing-s) 0;
}

.filtersAndGridContainer {
    position: relative;
    display: flex;
    flex-grow: 1;
    margin-top: var(--spacing-m);
}

.filtersContainer {
    position: absolute;
    width: fit-content;
    height: 100%;
    z-index: 10;
    background: white;
    border-right: 1px solid var(--bg-dark);
    border-top: 1px solid var(--bg-dark);
    box-sizing: border-box;
    box-shadow: 10px 10px 30px -8px color-mix(in srgb, var(--bg-dark), transparent 70%);

}

.gridContainer {
    margin: 0 var(--spacing-m);
    flex-grow: 1;
}
