.container {
    width: 100%;
    position: relative;
}


.nav {
    background-color: var(--brand-secondary);
    display: flex;
    gap: var((--spacing-m));
    height: fit-content;
    padding: 0 var(--spacing-s);
    box-sizing: border-box;
    a {
        color: var(--text-light);
        display: inline-flex;
        align-items: center;
        gap: var(--spacing-s);
        padding: var(--spacing-m) var(--spacing-s);
        text-decoration: none;
        font-size: var(--font-sm);
        
        &:hover {
            background-color: var(--brand-secondary-light);
        }
    }

    > svg {
        position:absolute;
        width: 24px;
        right: -8px;
        top: 12px;
        color:var(--brand-secondary-light);
        border: 2px solid var(--bg-dark);
        border-radius: 100%;
        cursor: pointer;
    }
}

.overlay {
    position: absolute;
    z-index: 1000;
}