.folderChipsetContainer {
    display: inline-flex;
    label > span {
        font-size:var(--font-sm);
    }
    Button {
        min-width: unset;
        margin-left: var(--spacing-s);
    }

}

.toggleButton {
    justify-content: "flex-start";

    svg {
        pointer-events: none;
        width: var(--spacing-m);
    }
}